{% extends 'finite_finite/base.html' %}

{% load static %}
{% block page_content %}
  <div class="global indent">
      <!--content-->
      <div class="who-box">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <h2 class="indent"><i></i>About Us</h2>
                      <div class="thumb-pad4">
                          <div class="thumbnail">
                              <figure><img src="img/page2_pic1.jpg" alt=""></figure>
                              <div class="caption">
                                  <p>Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque enatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. Fusce feugiat ma lesuada odio. Morbi nunc odio gravida at. cursus nec luctus a lorem. </p>
                                  <p><strong>Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque enatibus et magnis.</strong></p>
                                  <p>Fusce feugiat malesuada odio. Morbi nunc odio gravida at. cursus nec luctus a lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.</p>
                                  <strong class="btn-default btn1"><a href="#"><i></i>read more</a></strong>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <h2 class="indent"><i></i>Our vision</h2>
                      <ul class="list3">
                          <li>
                              <div class="badge">1.</div>
                              <div class="extra-wrap">
                                  <h4>Fusce feugiat malesuada odio eleifend</h4>
                                  <p>Cum sociis natoque enatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at. cursus nec luctus a lorem.</p>
                              </div>
                          </li>
                          <li>
                              <div class="badge">2.</div>
                              <div class="extra-wrap">
                                  <h4>Vestibulum sed ante</h4>
                                  <p>Cum sociis natoque enatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at. cursus nec luctus a lorem.</p>
                              </div>
                          </li>
                          <li>
                              <div class="badge">3.</div>
                              <div class="extra-wrap">
                                  <h4>Ut tellus dolor, dapibus eget, elementum</h4>
                                  <p>Cum sociis natoque enatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at. cursus nec luctus a lorem.</p>
                              </div>
                          </li>
                      </ul>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                      <h2 class="indent"><i></i>Photos</h2>
                      <div class="row">
                          <div class="col-lg-6 col-md-2 col-sm-4 col-xs-4 trainerBox">
                              <figure><a href="img/img1.jpg"><img src="img/page2_pic2.jpg" alt=""></a></figure>
                          </div>
                          <div class="col-lg-6 col-md-2 col-sm-4 col-xs-4 trainerBox">
                              <figure><a href="img/img2.jpg"><img src="img/page2_pic3.jpg" alt=""></a></figure>
                          </div>
                          <div class="col-lg-6 col-md-2 col-sm-4 col-xs-4 trainerBox">
                              <figure><a href="img/img3.jpg"><img src="img/page2_pic4.jpg" alt=""></a></figure>
                          </div>
                          <div class="col-lg-6 col-md-2 col-sm-4 col-xs-4 trainerBox">
                              <figure><a href="img/img4.jpg"><img src="img/page2_pic5.jpg" alt=""></a></figure>
                          </div>
                          <div class="col-lg-6 col-md-2 col-sm-4 col-xs-4 trainerBox">
                              <figure><a href="img/img5.jpg"><img src="img/page2_pic6.jpg" alt=""></a></figure>
                          </div>
                          <div class="col-lg-6 col-md-2 col-sm-4 col-xs-4 trainerBox">
                              <figure><a href="img/img6.jpg"><img src="img/page2_pic7.jpg" alt=""></a></figure>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="thumb-box5">
          <div class="container">
              <h2><i></i>Testimonials</h2>
              <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                      <figure><img src="img/quote.png" alt=""></figure>
                      <p>Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque enatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
                      <hr>
                      <a href="#">Jessica Priston</a>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                      <figure><img src="img/quote.png" alt=""></figure>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque.</p>
                      <hr>
                      <a href="#">Tom James</a>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                      <figure><img src="img/quote.png" alt=""></figure>
                      <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui.</p>
                      <hr>
                      <a href="#">Julia Berzkalna</a>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                      <figure><img src="img/quote.png" alt=""></figure>
                      <p>Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus.</p>
                      <hr>
                      <a href="#">Patrick Pool</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
 {% endblock %}