{% extends 'finite_finite/base.html' %}

{% load static %}
{% block page_content %}
<div class="global">
    <!--content-->
<div class="thumb-box1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 pull-right wow fadeInUp animated" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                    <figure><img src="{% static 'finite_finite/img/Networking.png' %}" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                <h3><i></i>Networking.<br>Database management.<br>Applications development.</h3>
                <p>Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque enatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at. cursus nec luctus a lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. </p>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <p><strong>Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque enatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. </strong></p>
                        <strong class="btn-default btn1"><a href="#"><i></i>book this service</a></strong>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="thumb-box2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 wow fadeInUp">
                <figure><img src="{% static 'finite_finite/img/WebDesign.png' %}" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.25s">
                <h2><i></i>Web development</h2>
                <p>Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque enatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at. cursus nec luctus a lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. </p>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <p><strong>Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque enatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. </strong></p>
                        <strong class="btn-default btn1"><a href="#"><i></i>book this service</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="thumb-box3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 pull-right wow fadeInUp" data-wow-delay="0.25s">
                <figure><img src="{% static 'finite_finite/img/SEO.png' %}" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 pull-left wow fadeInUp">
                <h2><i></i>SEO</h2>
                <p>Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque enatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at. cursus nec luctus a lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. </p>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <p><strong>Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque enatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. </strong></p>
                        <strong class="btn-default btn1"><a href="#"><i></i>book this service</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="thumb-box4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 wow fadeInUp">
                <figure><img src="{% static 'finite_finite/img/E-commerce.png' %}" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.25s">
                <h2><i></i>E-commerce</h2>
                <p>Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque enatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at. cursus nec luctus a lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. </p>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <p><strong>Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque enatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. </strong></p>
                        <strong class="btn-default btn1"><a href="#"><i></i>book this service</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
