{% extends 'finite_finite/base.html' %}

{% load static %}
{% block page_content %}
<div class="global indent1">
    <!--content-->
<div class="thumb-box2 indent">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <figure><img src="img/Digitaltransformation.png" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2><i></i>Digital Transformation</h2>
                <p>Digital Transformation of your experience with employees, customers, and suppliers. Go deep with Omni-Channel experience, Process Automation and Analytics.</p>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <p><strong>Digital Transformation is the smarter way to improve your customer experience, business processes, and business efficiency with the help of disruptive technologies such as analytics, automation, mobility, etc.</strong></p>
                        <strong class="btn-default btn1"><a href="#"><i></i>book this service</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="thumb-box3 indent">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 pull-right">
                <figure><img src="img/businessapplications.png" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 pull-left">
                <h2><i></i>Business Applications<br>Development</h2>
                <p>ERP, Enterprise Asset Management (EAM), Contact Center, Customer-Centric Applications, HSE, Vertical Applications for your business.</p>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <p><strong>Lorem ipsum dolor sit amet, id ponderum intellegam vix. Eos no magna reprehendunt, dolorem tacimates iracundia in eos.</strong></p>
                        <strong class="btn-default btn1"><a href="#"><i></i>book this service</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="thumb-box2 indent">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <figure><img src="img/Cloud.png" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2><i></i>Cloud & Infrastructure</h2>
                <p>Migrate to a hybrid infrastructure with services on Cloud, Networks, and Compute Infrastructure. Prepare your Digital Infrastructure to be responsive and lean. </p>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <p><strong>Lorem ipsum dolor sit amet, id ponderum intellegam vix. Eos no magna reprehendunt, dolorem tacimates iracundia in eos.</strong></p>
                        <strong class="btn-default btn1"><a href="#"><i></i>book this service</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="thumb-box3 indent1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 pull-right">
                <figure><img src="img/security.png" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 pull-left">
                <h2><i></i>Security Services<br>Intelligence</h2>
                <p>Better prepare for Cyber-security with our capabilities and alliances on Consulting, Data Security and Network Security. </p>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <p><strong>Advanced Persistent Threat (APT) Defense Framework<br>Network & Application Security<br>Application Delivery Controllers<br>Next Generation Firewalls<br>Security & Vulnerability Assessment<br>Patch ManagementMalware Protection<br>Endpoint Protection<br>SIEM Solutions. </strong></p>
                        <strong class="btn-default btn1"><a href="#"><i></i>book this service</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="thumb-box2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <figure><img src="img/consulting.png" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2><i></i>Consulting <br>Services</h2>
                <p>Consulting Services for ISO20000, ISO27001, NESA, DGISR and SITC Compliance to optimize your business processes. </p>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <p><strong>Lorem ipsum dolor sit amet, id ponderum intellegam vix. Eos no magna reprehendunt, dolorem tacimates iracundia in eos.</strong></p>
                        <strong class="btn-default btn1"><a href="#"><i></i>book this service</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="thumb-box3 indent1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 pull-right">
                <figure><img src="img/service.png" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 pull-left">
                <h2><i></i>IT Service Management</h2>
                <p>Technology and Consulting solutions for 16 ITIL process service desk, asset management, data center operations, end user management and application performance.</p>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <p><strong>Lorem ipsum dolor sit amet, id ponderum intellegam vix. Eos no magna reprehendunt, dolorem tacimates iracundia in eos.</strong></p>
                        <strong class="btn-default btn1"><a href="#"><i></i>book this service</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="thumb-box2 indent">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 pull-right">
                <figure><img src="img/manage.png" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 pull-left">
                <h2><i></i>Managed Services</h2>
                <p>ISO 20000 and ISO 27001 certified Transformational Managed Services Provider with local 24/7 NOC, process consultants, integrated tools, matured governance and people.</p>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <p><strong>Lorem ipsum dolor sit amet, id ponderum intellegam vix. Eos no magna reprehendunt, dolorem tacimates iracundia in eos.</strong></p>
                        <strong class="btn-default btn1"><a href="#"><i></i>book this service</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="thumb-box3 indent">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 pull-left">
                <figure><img src="img/ap.png" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 pull-right">
                <h2><i></i>AP Automation</h2>
                <p>Stuck with legacy AP processes? Try automating it to save up to 50% invoice processing cost with an integrated vendor portal</p>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <p><strong>Lorem ipsum dolor sit amet, id ponderum intellegam vix. Eos no magna reprehendunt, dolorem tacimates iracundia in eos.</strong></p>
                        <strong class="btn-default btn1"><a href="#"><i></i>book this service</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}